body{
	background:#cc8713;
}
#content{
	
	background: -webkit-linear-gradient(#D2D1BE, #cc8713);
	position:relative;
    padding: 10px;
    overflow:auto;
     }
.TodoList{
	margin:auto;
	padding:10px;
	top:15%;
	position: relative;
	width: 700px;
	background-color: #cecece;
	padding:10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	box-shadow: 1px 1px 1px black;
	
}

#addtodolistbtn {
	color:white;
	font-weight: bold;
	border-radius:3px;
	font-size: 15px;
	background-color:#4673AD ;
	width: 209px; height: 46px;
	padding: 10px;
	position:fixed;
	left:45%;
	bottom:10%;
	border:0.1px solid black;
	box-shadow: 1px 1px 1px black;
}

#todotitlebar{
	color:white;
	font-size: 15px;
	font-weight: bold;
	background-color:#4673AD;
	width: 700px;
	height: 50px;
	padding:10px;
	border: 1px solid #4673AD;
	position:relative;
	top:0px; left:5px;
	margin-top: -10px;
	box-shadow: 0.5px 0.5px 0.5px black;
	text-shadow:0.5px 0.5px 0.5px black;
}
#taskmgr{
	background-color: #cecece;
	width: 700px;
	left:5px;
	position: relative;
	
}
.taskcontainer{
	background-color: white;
	width: 700px; 
	height: 50px;
	position: relative;
	left:5px;
	bottom: 0px;
	border-bottom:0.1px solid #cecece;
	box-shadow: 0.5px 0.5px 0.5px black;
}
.imgicon{
	width: 26px;
	height:26px;
}
.addtask{
	background-color: #6ea587;
	color:white;
	width: 108px; height: 30px;
	border-top-right-radius: 4px;
	border-bottom-right-radius:4px;
	border: 1px solid transparent;
	text-shadow:1px 1px 1px black;
	box-shadow: 0.5px 0.5px 0.5px 0.5px black;
}
.taskinput{
	width: 484px;
	height: 30px;
	box-shadow: 0.5px 0.5px 0.5px black;
}

#overlay {
    position: fixed;
    display: none;
    width: 80%;
    height: 80%;
    top: 10%;
    left: 10%;
    right: 50%;
    bottom: 0;
    background-color: white;
    z-index: 2;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 10px 10px 10px black;
    
}
#overlayheader{
	top:0;
	text-align: center;
	margin-top: -20px;
	background: #4673AD;
	color: white;
	text-shadow:1px 1px 1px black;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
}
#frontpagefooter{
	position: fixed;
	bottom:0;
	top:70%;
	right: 45%;
	width: 200px;

}
#login{
	background: #4673AD;
	color: white;
	font-weight: bold;
	width: 100px;
	height: 50px;
	text-shadow:2px 2px 2px black;
	box-shadow: 1px 1px 1px black;
	border:1px solid black;
	border-top-right-radius:15px;
	border-bottom-right-radius:15px;
}
#signup{
	background: #4673AD;
	color: white;
	font-weight: bold;
	text-shadow:2px 2px 2px black;
	box-shadow: 1px 1px 1px black;
	border:1px solid black;
	width:100px;
	height: 50px;
	border-top-left-radius:15px;
	border-bottom-left-radius:15px;
}
.forminputs{
	width:300px;
	display: block;
	margin-left:200px;
	padding: 20px;
	
}
#adduser label.error, #loginuser label.error {
font-size: 0.8em;
color: #F00;
font-weight: bold;
display: block;
margin-left: 215px;
}
#comment{
	color:green;
	text-shadow:1px 1px 1px black;
}